@charset "UTF-8";

*{
    margin: 0px;
    pad: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;  /*Escolher posição dos ELEMENTOS filho*/
    height: 100vh;
    
}

section#telefone{
    position: absolute;  /*É para centralizar o elemento na main mãe */
    top: 50%;  /*Centralizando*/
    left: 50%;  /*Centralizando*/
    transform: translate(-50%, -50%);   /*FINALIZANDO A CENTRALIZAÇÃO*/

    height: 627px;
    width: 311px;
    
    background: url(../imagens/frame-iphone.png) no-repeat;

}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 470px;
}

section#redesSociais{
    text-align: right;
}

section#redesSociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 0px rgba(0,0,0, 0.400);
    box-sizing: border-box;  /*A borda faz parte da "caixa"*/
}

section#redesSociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.911);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.767);
    transition: transform .4s, border 1s;  /*Velocidade do movimento*/
}